<div class="max-w-7xl mx-auto my-16 px-4 sm:px-6 mt-16">
  <form>
    <!-- <input
    class="border border-gray-600"
    type="text"
    name="username"
    [value]="username"
    class="input"
    ngModel
    (ngModelChange)="changeModel($event)"
    #user
    (input)="changeInput($event)"
    (input)="getTemplateValue(user.value)"
    [(ngModel)]="username"
  /> -->
    <!-- <input ngModel #username="ngModel" (change)="log(username)" name="username" /> -->

    <button type="submit">Save</button>
  </form>

  <ul>
    <li *appRepeat="5">Hi there!</li>
  </ul>

  <p appHighlight>hightlight example test</p>

  <table class="table">
    <tbody>
      <tr *ngFor="let item of users | async">
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
      </tr>
    </tbody>
  </table>

  <span #el>Span highlight</span>
  <hr />
  <ng-template #temp ngIf="true">Show</ng-template>
  <hr />
  <ng-container #cont>Great</ng-container>
</div>
