.bg-image {
  background-color: rgba($color: #000000, $alpha: 1);
  background-image: url(https://image.freepik.com/free-vector/network-mesh-wire-digital-technology-background_1017-27428.jpg);
  background-position: center;
  background-size: 100%;
  background-attachment: scroll;
}
