<div class="w-full">
  <div class="sm:flex justify-center bg-purple-800 px-4 py-2">
    <p class="text-sm font-normal font-mono text-white">
      Get an extra benefit from Artisan and increase your business coverage
      everyday.
    </p>
    <div>
      <p class="text-sm font-light text-white"></p>
    </div>
  </div>

  <div class="w-full bg-purple-100 py-16 text-purple-600">
    <div class="max-w-4xl mx-auto px-6 sm:px-4">
      <div class="grid grid-cols-12 gap-8 sm:gap-x-0 gap-y-8">
        <div class="sm:col-span-3 col-span-12">
          <h3 class="text-base font-black text-purple-800 uppercase px-2 mb-3">
            ARTISAN
          </h3>
          <ul>
            <li><a class="block px-2" href="/">Information</a></li>
            <li><a class="block px-2" href="/">Dashboard</a></li>
            <li><a class="block px-2" href="/">Contact</a></li>
            <li><a class="block px-2" href="/">Technology</a></li>
            <li><a class="block px-2" href="/">Resources</a></li>
          </ul>
        </div>
        <div class="sm:col-span-3 col-span-12">
          <h3 class="text-base font-black text-purple-800 uppercase px-2 mb-3">
            LINKS
          </h3>
          <ul>
            <li><a class="block px-2" href="/">Information</a></li>
            <li><a class="block px-2" href="/">Dashboard</a></li>
            <li><a class="block px-2" href="/">Contact</a></li>
            <li><a class="block px-2" href="/">Technology</a></li>
            <li><a class="block px-2" href="/">Resources</a></li>
          </ul>
        </div>
        <div class="sm:col-span-3 col-span-12">
          <h3 class="text-base font-black text-purple-800 uppercase px-2 mb-3">
            FEATURES
          </h3>
          <ul>
            <li><a class="block px-2" href="/">Information</a></li>
            <li><a class="block px-2" href="/">Dashboard</a></li>
            <li><a class="block px-2" href="/">Contact</a></li>
            <li><a class="block px-2" href="/">Technology</a></li>
            <li><a class="block px-2" href="/">Resources</a></li>
          </ul>
        </div>
        <div class="sm:col-span-3 col-span-12">
          <h3 class="text-base font-black text-purple-800 uppercase px-2 mb-3">
            MEET WITH US
          </h3>
          <ul>
            <li><a class="block px-2" href="/">Information</a></li>
            <li><a class="block px-2" href="/">Dashboard</a></li>
            <li><a class="block px-2" href="/">Contact</a></li>
            <li><a class="block px-2" href="/">Technology</a></li>
            <li><a class="block px-2" href="/">Resources</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
