<div class="max-w-7xl mx-auto my-16 sm:px-4 px-6">
  <div class="mb-4">
    <span class="uppercase font-light text-xs">market view</span>
    <h2 class="font-bold text-lg text-gray-800">Today's market briefing.</h2>
  </div>

  <div class="flex space-x-3 items-center overflow-x-auto">
    <div class="item" *ngFor="let item of stocks$ | async">
      <div>
        <h3 class="font-bold">{{ item.company }}</h3>
        <span class="font-light text-sm">{{ item.slug }}</span>
      </div>
      <div class="flex flex-col">
        <span class="font-bold">{{ item.amount }}</span>
        <span [ngClass]="item.rate > 2 ? 'profit' : 'loss'">
          <span *ngIf="item.rate > 2; else elseBlock">+</span>
          <ng-template #elseBlock>-</ng-template>
          {{ item.rate }}%
        </span>
      </div>
    </div>
  </div>
  <div>
    <p class="text-gray-600 text-sm font-light">
      Active stocks last updated Dec 29 2021
    </p>
  </div>

  <div class="grid grid-cols-12 md:gap-8 gap-0 mt-6">
    <div class="col-span-12 md:col-span-8 md:mb-0 mb-8">
      <h3 class="font-bold text-lg text-gray-800">Sector hightlights</h3>
      <span class="text-gray-600 text-sm font-light"
        >Dec 29 2020 09:10:23 pm</span
      >

      <div class="grid md:grid-cols-2 md:gap-4 gap-0">
        <div
          class="border h-32 md:grid-cols-1 grid-cols-2 highlight"
          *ngFor="let item of highlights$ | async | slice: 1:3"
          [style.background-image]="'url(' + item.image + ')'"
        >
          <div>
            <h3 class="font-bold text-gray-50">{{ item.name }}</h3>
          </div>
          <div>
            <span [ngClass]="item.rate > 0.2 ? 'profit' : 'loss'">
              <span *ngIf="item.rate > 0.2; else elseBlock">+</span>
              <ng-template #elseBlock>-</ng-template>
              {{ item.rate }}%
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-12 md:col-span-4">
      <h3 class="flex items-center">
        <span class="font-bold text-lg text-gray-800">My watchlist</span>
        <mat-icon aria-label="star">star</mat-icon>
      </h3>
      <span class="text-gray-600 text-sm font-light">
        Your watchlist is empty, build your watchlist by starring the stock you
        want to follow
      </span>
    </div>
  </div>

  <div class="mt-6">
    <h2 class="font-bold text-lg text-gray-800">Ex-Dividends</h2>
    <div class="w-full md:flex block items-center justify-between">
      <div class="text-sm text-gray-700">Symbol</div>
      <div class="text-sm text-gray-700">Amount</div>
    </div>
    <hr class="border-t border-gray-100 my-4" />
    <div class="text-gray-600 text-sm font-light">
      There are no upcoming dividends
    </div>
  </div>

  <div class="mt-6">
    <h2 class="font-bold text-lg text-gray-800">Earnings</h2>

    <div class="overflow-x-auto">
      <table mat-table [dataSource]="earnings" class="mat-elevation-z0 w-full">
        <ng-container matColumnDef="symbol">
          <th mat-header-cell *matHeaderCellDef>Symbol</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <ng-container matColumnDef="company">
          <th mat-header-cell *matHeaderCellDef>Company</th>
          <td mat-cell *matCellDef="let element">{{ element.company }}</td>
        </ng-container>

        <ng-container matColumnDef="fiscalPeriod">
          <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">
            Fiscal Period
          </th>
          <td mat-cell *matCellDef="let element">{{ element.fiscalPeriod }}</td>
        </ng-container>

        <ng-container matColumnDef="estimatedEps">
          <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">
            Consensus Estimated EPS
          </th>
          <td mat-cell *matCellDef="let element">{{ element.estimatedEps }}</td>
        </ng-container>

        <ng-container matColumnDef="actualEps">
          <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">
            Actual EPS
          </th>
          <td mat-cell *matCellDef="let element">{{ element.actualEps }}</td>
        </ng-container>

        <ng-container matColumnDef="epsPerYear">
          <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">
            EPS, Year ago
          </th>
          <td mat-cell *matCellDef="let element">{{ element.epsPerYear }}</td>
        </ng-container>

        <ng-container matColumnDef="surprise">
          <th mat-header-cell *matHeaderCellDef>Surprise</th>
          <td mat-cell *matCellDef="let element">{{ element.surprise }}</td>
        </ng-container>

        <ng-container matColumnDef="changeFromLastYear">
          <th mat-header-cell *matHeaderCellDef class="whitespace-nowrap">
            % Change from last year
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.changeFromLastYear }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <hr class="border-t border-gray-100 my-4" />
  </div>

  <div class="mt-6">
    <h2 class="font-bold text-lg text-gray-800">Sector Performer</h2>
    <span class="font-light text-sm">Dec 29 2020 09:10:23 pm</span>

    <div class="md:flex block md:gap-4 items-center md:flex-wrap mt-4">
      <div
        class="sector"
        *ngFor="let item of sectors"
        [style.background-image]="'url(' + item.image + ')'"
      >
        <div>
          <h3 class="font-bold text-gray-50">{{ item.name }}</h3>
        </div>
        <div>
          <span [ngClass]="item.rate > 0.2 ? 'profit' : 'loss'">
            <span *ngIf="item.rate > 0.2; else elseBlock">+</span>
            <ng-template #elseBlock>-</ng-template>
            {{ item.rate }}%
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
