<div class="max-w-6xl mx-auto my-16 md:p-0 p-8">
  <div class="mb-4 flex justify-between">
    <div>
      <span class="uppercase font-thin text-xs"
        >QQQ <small>&#8226;</small> NASDAQ</span
      >
      <h2 class="font-bold text-lg text-gray-800">
        Invesco QQQ Trust Series 1
      </h2>
    </div>
    <div class="space-x-2">
      <button mat-stroked-button color="primary">
        <mat-icon aria-label="check">check</mat-icon> Following
      </button>
      <button mat-stroked-button color="primary">
        <mat-icon aria-label="share">share</mat-icon> Share
      </button>
    </div>
  </div>

  <hr class="border-t border-gray-100 my-4" />

  <div class="grid grid-cols-12 gap-8 mt-6">
    <div class="col-span-12 md:col-span-8">
      <h3 class="font-light text-lg text-purple-600">Sector hightlights</h3>

      <div class="py-4 shadow-md">
        <app-echarts></app-echarts>
      </div>
    </div>
    <div class="col-span-12 md:col-span-4">
      <div class="w-full py-0 rounded-lg shadow-sm border">
        <mat-list>
          <mat-list-item> Pepper </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> Salt </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item> Paprika </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</div>
